#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Thinner scrollbar for dialog */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track, #f7fafc);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb, #5ff701);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover, #185099);
}

html.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track-dark, #2d3748);
}

html.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-dark, #4a5568);
}

html.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-dark-hover, #718096);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb, #08e105) var(--scrollbar-track, #0973b9);
}

html.dark .custom-scrollbar {
  scrollbar-color: var(--scrollbar-thumb-dark, #1aa435) var(--scrollbar-track-dark, #1267f9);
}